@font-face {
    font-family: "HelveticaNeueLTProBd";
    src: url(../fonts/HelveticaNeueLTPro-Bd.otf) format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTProLt";
    src: url(../fonts/HelveticaNeueLTPro-Lt.otf) format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTProLtIt0";
    src: url(../fonts/HelveticaNeueLTPro-LtIt_0.otf) format("opentype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "HelveticaNeueLTProLt";
    position: relative;
}

/* side menu */

aside {
    width: 290px;
    height: 100%;
    padding: 60px 45px 45px 0px;

    position: fixed;
    display: inline-block;

    background-color: #000;
    color: #fff;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding-left: 30px;
}

.logo img{
    width: 100%;
}

/* navigation bar */

nav {

}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    padding: 7px 0 7px 0;
}

li a {
    padding-left: 40px;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: "HelveticaNeueLTProBd", Helvetica, Arial, sans-serif;
}

li a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

li a:hover::after {
    width: 100%;
    left: 0;
}


.social {
    padding-top: 40px;
    padding-left: 40px;
}

.social i {
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

 /* home gallery */

section {
    width: 100%;
    padding-left: 290px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: row dense;  
}

.box {
    position: relative;
    overflow: hidden;
}

.content {
}

.content img {
    width: 100%;
    height: auto;
    vertical-align: top;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transition: all 0.3s cubic-bezier(0.05, 0.43, 0.15, 0.89);
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.43, 0.15, 0.89);
}

/* boxs sizes */

.tile1 {
    grid-column: 1 / 11;
    grid-row: 1 / 3;
}
.tile2 {
    grid-column: 11 / 14;
    grid-row: 1 / 2;
}
.tile3 {
    grid-column: 11 / 14;
    grid-row: 2 / 3;
}
.tile4 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.tile5 {
    grid-column: 4 / 14;
    grid-row: 3 / 5;
} 
.tile6 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
} 
.tile7 {
    grid-column: 1 / 11;
    grid-row: 5 / 7;
} 
.tile8 {
    grid-column: 11 / 14;
    grid-row: 5 / 6;
} 
.tile9 {
    grid-column: 11 / 14;
    grid-row: 6 / 7;
} 
.tile10 {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
} 
.tile11 {
    grid-column: 4 / 14;
    grid-row: 7 / 9;
} 
.tile12 {
    grid-column: 1 / 4;
    grid-row: 8 / 9;
} 

/* hover box */

.box:hover .hover-box {
    display: block;  
}

.box:hover .content img {
    transform: scale(1.08);
    filter: brightness(18%);
    -webkit-filter: brightness(18%);

}

.hover-box {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;
    padding: 10px 30px 20px 30px;
}

.hover-box, .hover-box * {
    cursor: pointer;
}

.hover-box .hover-content {
    width: 100%;
    height: 100%;

    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    padding-top: 10px;
}

.title h3 {
    margin-bottom: 10px;
}

.title p {
    margin: 0px;
    font-family: "HelveticaNeueLTProLtIt0", Helvetica, Arial, sans-serif;
    font-size: 14px;
}


.magnifier-icon {
    align-self: flex-end;
    font-size: 20px;
}

/* project view */

#project-view {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.pictures-container {
    width: 57%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;

}

.pictures-container img {
    width: 100%;
    height: auto;
}


#close {
    position: fixed;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size:30px;
    cursor: pointer;
}

/* portfolio page */



#portfolio-content {
    height: auto;
    padding: 180px 90px 150px 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.project-box {
    padding-bottom: 50px;
}

.project, .project * {
    cursor: pointer;
}

.project-image img {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

.project-image img:hover {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;

}

.project-title {
    padding-top: 10px;
}

.project-title h3 {
    margin-bottom: 10px;
}

.project-title p {
    margin: 0px;
    font-family: "HelveticaNeueLTProLtIt0", Helvetica, Arial, sans-serif;
    color: #868686;
    font-size: 14px;
}

/* contact page */

.contact {
    height: 100vh;
    display: flex;
    align-items: center;

}

.contact-content {
    width: inherit;
    height: 500px;
    padding: 10px 400px 150px 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-header {
    width: 100%;
}

.contact-header h1 {
    margin-left: 20px;
}

.portrait {
    width: 200px;
    margin: 0px 50px 0px 50px;
}

.portrait img {
    overflow: hidden;
    max-width:100%;
    max-height:100%;
    border-radius: 100px;
}

.contact-info {
    margin-left: 50px;
}
